.chatInput {
  padding: 8px 32px;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 900px;

  margin: 0 auto;

  border-radius: 24px;

  background: rgb(19, 19, 19);

  border: 1px solid rgb(88, 88, 88);

  overflow: hidden;
}